{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
<h1>CGU</h1>
<h3>1. Champ d’application – Acceptation des Conditions Générales</h3>
    <p>Les présentes conditions générales d’utilisation et de vente (CGUV) ont pour objet de définir les conditions dans
        lesquelles les Acquéreurs et Vendeurs Non Professionnels (de l’immobilier) peuvent bénéficier, à titre gratuit
        ou onéreux, des services du Site « lacquereur.com », édité et exploité par la société L’ACQUÉREUR, SAS au
        capital de 10 000 euros, immatriculée au RCS de Grenoble sous le numéro 840 475 081, dont le siège social est La
        Grand Rée, 38760 VARCES ALLIERES ET RISSET (ci-après : « L’ACQUÉREUR»).

        Toute utilisation du Site, ainsi que tout achat de services sur le Site, implique l’acceptation pleine et
        entière par l’Utilisateur des présentes Conditions Générales. L’ACQUÉREUR se réserve le droit de modifier à tout
        moment les présentes CGUV, sous réserve d’en informer l’Utilisateur, par email, l’invitant à valider les mises à
        jour effectuées. A défaut de validation des CGV révisées, l’Utilisateur n’aura plus accès au Service.</p>

    <h3>2. Définitions</h3>
    <p>Dans le cadre des présentes CGU/CGV, les termes ci-dessous seront définis comme suit :

        Acquéreur : toute personne physique ou morale, non professionnelle de l’immobilier, inscrite sur le Site,
        souhaitant faire l’acquisition d’un bien immobilier pour son compte,
        Bien : bien de nature immobilière, mis en vente par un Vendeur, ou recherché par un Acquéreur, et libre de toute
        hypothèque, ou autre sûreté ;
        Partenaire : tout professionnel, personne physique ou morale, quelle que soit sa forme et son statut juridiques,
        susceptible d’effectuer des prestations de service au bénéfice des Utilisateurs (tels que courtiers en crédit ou
        assurances, entreprises de déménagement, assureurs, photographes, etc),
        Prestations : services complémentaires proposés par les Partenaires ou par L’ACQUÉREUR aux Utilisateurs
        Service : service de mise en relation des Vendeurs avec les Acquéreurs, en vue de la réalisation d’une vente
        immobilière, ou d’une prestation de service relevant de leur domaine de compétence.
        Site : le site Internet lacquereur.com, exploité par la société L’ACQUÉREUR, en ce compris ses extensions
        territoriales éventuelles,
        Utilisateurs : les Vendeurs Non Professionnels et les Acquéreurs, utilisant le Site à titre non professionnel,
        Vendeur Non Professionnel : toute personne physique ou morale, non professionnelle de l’immobilier, inscrite sur
        le Site, désireuse de vendre un bien immobilier, dont elle est propriétaire ou copropriétaire ,
        Vendeur Professionnel : tout professionnel de l’immobilier, personne physique ou morale, quelle que soit sa
        forme et son statut juridiques, dont l’activité consiste à vendre, directement ou indirectement, ou sur mandat
        du vendeur, un bien immobilier (tels que promoteur, agence immobilière, ou tout professionnel relevant de la loi
        Hoguet du 2 janvier 1970 ;</p>
    <h3>3. Création d’un Compte Utilisateur</h3>
    <p> Pour pouvoir accéder au Service, l’Utilisateur doit créer un Compte Utilisateur.

        Afin de créer ce Compte, l’Utilisateur devra fournir à L’ACQUÉREUR les données suivantes : nom, prénom, adresse
        email. L’Utilisateur s’engage à ce que les informations personnelles communiquées au Site soient exactes, et
        authentiques. L’ACQUÉREUR se réserve le droit de vérifier les informations transmises, et de suspendre la
        création du Compte jusqu’à validation de l’ensemble des données nécessaires ou de refuser toutes données
        manifestement fantaisistes.

        Le Compte Utilisateur sera accessible via son adresse email et un mot de passe, qu’il choisira.

        Ces éléments personnels d’identification (identifiant et mot de passe) sont modifiables en ligne dans le compte,
        ce que l’Utilisateur est invité à faire régulièrement, dans un souci de sécurité. Ils sont confidentiels et
        incessibles. Dans ces conditions, l’Utilisateur s’engage à ne pas les communiquer à des tiers non autorisés.
        L’ACQUÉREUR ne saurait être tenu responsable de tous dommages directs ou indirects subis par l’Utilisateur ou
        par des tiers, résultant d’un accès frauduleux à son compte à la suite d’une divulgation de ses éléments
        d’identification.

        L’Utilisateur peut également, s’il le préfère, se connecter au Service via son compte Facebook ou Google. Le cas
        échéant, il accepte le partage de certaines données personnelles, dans les conditions prévues à la Politique de
        Gestion des Données Personnelles</p>


    {% endblock %}

